body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

